@using Microsoft.AspNetCore.Identity;
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "All Users";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">@ViewData["Title"]</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <a asp-controller="Account" asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> NEW USER</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tableUsers" class="table table-bordered table-striped">
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $('#tableUsers').DataTable({
                pageLength: 25,
                ajax: {
                    url: '/Administration/DisplayUsers',
                    dataSrc: '',
                },
                //columnDefs: [
                //    { "searchable": false, "targets": 4 }
                //],
                columns: [
                    { title: 'Name', data: 'fullName' },
                    { title: 'Email', data: 'email' },
                    { title: 'Country', data: 'country' },
                    { title: 'Address', data: 'address' },
                    { title: 'Phone Number', data: 'phoneNumber' },
                    {
                        title: 'Actions',
                        "render": function (data, type, full, meta) { return '</a> <a class="btn btn-primary btn-xs" href="/Account/Edit/' + full.id + '"><i class="fa fa-edit"></i></a> <form asp-action="Delete" asp-controller="Account"><input type="hidden" asp-for="Id" /><input type="submit" value="Delete" class="btn btn-danger" /></form>'; }
                    },
                ]
            });
        });
    </script>
}

