@model IEnumerable<OptimoCore.Models.Country>

@{
    ViewData["Title"] = "Countries";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><i class="fa fa-home"></i> <a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <a asp-controller="Countries" asp-action="Create" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> NEW COUNTRY</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tableCountries" class="table table-bordered table-striped">
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $('#tableCountries').DataTable({
                pageLength: 25,
                ajax: {
                    url: '/Countries/Display',
                    dataSrc: '',
                },
                columnDefs: [
                    { "searchable": false, "targets": 4 }
                ],
                columns: [
                    { title: 'Country Name', data: 'countryName' },
                    { title: 'Code 3', data: 'country3Code' },
                    { title: 'Code 2', data: 'country2Code' },
                    { title: 'Ordering', data: 'ordering' },
                    { title: 'Status', data: 'status' },
                    {
                        title: 'Actions',
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info btn-xs" href="/Countries/Details/' + full.id + '"><i class="fa fa-eye"></i></a> <a class="btn btn-primary btn-xs" href="/Countries/Edit/' + full.id + '"><i class="fa fa-edit"></i></a> <a class="btn btn-danger btn-xs" href="/Companies/Delete/' + full.id + '"><i class="fa fa-trash"></i></a>'; }
                    },
                ]
            });
        });
    </script>
}