@model OptimoCore.Models.State
@{
    ViewData["Title"] = "New State";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><i class="fa fa-home"></i> <a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="States">States</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CountryId" class="control-label"></label>
                            <input asp-for="CountryId" class="form-control" />
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StateName" class="control-label"></label>
                            <input asp-for="StateName" class="form-control" />
                            <span asp-validation-for="StateName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State3Code" class="control-label"></label>
                            <input asp-for="State3Code" class="form-control" />
                            <span asp-validation-for="State3Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State2Code" class="control-label"></label>
                            <input asp-for="State2Code" class="form-control" />
                            <span asp-validation-for="State2Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ordering" class="control-label"></label>
                            <input asp-for="Ordering" class="form-control" />
                            <span asp-validation-for="Ordering" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            @Html.DropDownListFor(m => m.Status,
                            new SelectList(Enum.GetValues(typeof(StateStatus))),
                            "Select Status",
                            new { @class = "form-control" })
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}